/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    background-image: url(image.png);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 600px;
}

/* Heading */
.heading {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(247, 255, 26, 0.5);
}

/* Name Animation */
.name-container h1 {
    font-size: 4em;
    color: #05053a;
    letter-spacing: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Button Styles */
.button-container {
    margin-top: 20px;
}

.btn {
    padding: 12px 24px;
    font-size: 1.2em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.yes-btn {
    background-color: #28a745;
    color: white;
}

.no-btn {
    background-color: #dc3545;
    color: white;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* Response Text */
#response-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    transition: color 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
    .name-container h1 {
        font-size: 3em;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1em;
    }
}
